.tech_skill{
  position: relative;
  overflow: hidden;

  display: inline-flex;
  align-items: center;
  gap: var(--space-3);
  justify-content: center;
  line-height: 1;

  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-md);

  background: var(--surface);
  border: 1px solid var(--border);

  color: var(--text);
  transition: transform 0.15s ease, color 2s ease;
  text-decoration: none;
}

/* overlay gradient/boja */
.tech_skill::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  /* ovde može i gradient i boja */
  background: var(--tech-hover, var(--accent));

  opacity: 0;
  transition: opacity 2s ease;   /* izlazak spor */
  z-index: 0;
}

/* da sadržaj bude iznad overlaya */
.tech_skill > *{
  position: relative;
  z-index: 1;
}

.tech_skill:hover{
  transform: scale(1.03);
  color: var(--tech-hover-text, var(--text));
  transition: transform 0.15s ease, color 0.12s ease;
}

.tech_skill:hover::before{
  opacity: 1;
  transition: opacity 0.12s ease;  /* ulazak brz */
}

.tech_skill_icon {
    font-size: var(--text-lg);
    padding-top: var(--space-1);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate_icon svg {
  animation: spin 6s linear infinite;
}

.tech_skill_name {
    font-size: var(--text-md);
    line-height: 1.2;
    white-space: nowrap;
}

@media (prefers-reduced-motion: reduce) {
    .tech_skill {
        transition: none;
    }
}